* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgba(233, 233, 233, 0.89);
}

body {
    background: black;
    scroll-snap-type: y mandatory;
}

.snap {
    scroll-snap-align: center;
}


/* IMAGE */
.background-img {
    position: absolute;
    width: 100%;
    height: 200vh;
    z-index: -10;
    top: 0;
    background: linear-gradient(to top, black, black, black, black, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.363));
}

#video {
    position: absolute;
    width: 100vw;

    opacity: 1;

    z-index: -11;
}

.actions {
    width: 100%;
    top: 0;
}

.action-items {
    list-style: none;
    display: flex;
    align-items: center;
    color: rgb(238, 238, 238);
    height: 10vh;
}

.left-tabs {
    margin-left: 5%;
}

.show-reel {
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.full-screen {
    height: 100%;
    width: 20%;
}

.full-screen img {
    /* transform: scale(.4); */
    height: 40px;
    width: 40px;
}

header {
    position: relative;
    width: 100%;
    height: 90vh;

}

.title {
    position: absolute;
    top: 65%;
    left: 5%;
    font-size: 5vw;

}

.title h1 {
    color: rgba(238, 238, 238, 0.726);
    text-align: left;
    z-index: 10;
}

.discription p {
    color: rgba(238, 238, 238, 0.726);
    font-size: 1.5vw;
}

.about-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-stuff {
    text-align: center;
    margin: 10%;
    margin-top: 5%;
    font-size: 1.6vw;
}

.profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img img {
    height: 100%;
}

.project-section2 {
    width: 100%;
    height: 100vh;
}

.recent-project-section {
    width: 100%;
    height: 100vh;

}

.pr1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.pr1 iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.pr1-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, black, black, black, transparent);
    pointer-events: none;
}

.other-project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-list {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.pr {
    display: flex;
    width: 100%;
    height: 30vh;
    margin: 2%;
}

.pr iframe {
    width: 30vw;
    height: 25vh;

}

.pr .pr-details {
    display: flex;
    margin-left: 1%;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center;
}

.services {
    height: 100vh;
    scroll-snap-align: start;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 100vw);
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    height: 100%;
}

.service {
    position: relative;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service h1 {
    padding: 0% 10% 0% 5%;
    font-size: 3em;
}

.service p {
    padding: 1% 30% 0% 5%;
    font-size: 1.2em;
}

.service ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(to right, black, transparent);
}

.service img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    ;
    width: 100%;
    object-fit: cover;
}