* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --bgcolor: #181818;
    --sec1width: 30%;
}

body {
    font-family: 'Nexa';
    background: var(--bgcolor);
    height: 100vh;
}

.main1 {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 100% 0%;
}

.main2 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: var(--sec1width) calc(100% - var(--sec1width));
}

.section1 {
    position: relative;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: white;
    transition: background 500ms ease;
}

.section1-fullscreen{
    display: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    z-index: -1;
}

.shadesTxt {
    width: 100%;
    margin: 25%;
    padding: 20%;
    font-size: 5em;
    background: rgba(255, 255, 255, 0.817);
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 100%;

    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn span {
    padding-left: 10px;
}



.showreel-main,
.projects-main,
.about-main,
.contact-main {
       display: none;
}