.main1,
.main2,
.showreel-main,
.projects-main,
.about-main,
.contact-main {
    /*    display: none; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nexa';
    background: var(--bgcolor);
    height: 100vh;
}

.main1,
.main2,
.projects-main,
.about-main,
.contact-main {
    display: none;
}

.showreel-main {
    display: block;
}

.showreel-main {
    width: 100%;
    height: 100vh;

    background: white;
    display: grid;
    grid-template-columns: 80% 20%;
}

.sr1 {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr2 {
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.sr2 ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.sr2 ul li{
    padding: 20%;
}

.showreel-video {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background: black;
    overflow: hidden;
}

.showreel-video video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btns {
    color: black;
}